$primary: #2254aa;
$secondary: #18427d;
// $accent: #CB1D1D;
$accent: #1d7d58;
$dark: #00348d;
$darkComplimentary: #c192f0;
$bg1: #f0f4f9;
$bg2: #e6ecf1;
$lightPrimary: #2566c1;
$greyPrimary: #d5e3f6;
$green: #00b32a;
$bg: #f6fafd;
