$primary: #2254aa;
$primarydark: #008b62;
$primarylight: #f8f9fa;
$primarylighter: #9ecdc0;

$secondary: #18427d;
$secondarylight: #026749;

$tertiarylight: #ebfe80;

$accent: #1d7d58;
$dark: #00348d;
$darkComplimentary: #c192f0;
$bg1: #f0f4f9;
$bg2: #e6ecf1;
$lightPrimary: #2566c1;
$greyPrimary: #d5e3f6;
$green: #00b32a;
$bg: #f6fafd;

$backgroundgray: #d0d2de;
$navpurple: #3e4197;
$darkgray: #000000;
