.Utils {
  .Navigation {
    background-color: rgba($color: $secondary, $alpha: 0.8);
    height: 100vh;
    min-width: 300px;
    width: fit-content;
    display: grid;
    grid-template-rows: auto 1fr auto;
    .content {
      background-color: rgba($color: $secondary, $alpha: 0.9);
      height: 64px;
      border: none;

      .logo {
        margin: 5px 1em 5px auto;

        img {
          display: block;
          max-height: 40px;
          height: 100%;
          margin: 10px 2em 10px 2em;
          object-fit: contain;
        }
      }
    }
    .div1 {
      border: none;
      .NavLink {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
        padding: 5px 2em 5px 1em;
        cursor: pointer;
        height: 100%;

        img {
          height: 18px;
          width: 24px;
          object-fit: contain;
        }

        p {
          color: white;
          font-size: 10pt;
        }
      }

      .NavGroup {
        padding: 1em 1em 0 1em;

        .item {
          color: white;
          display: grid;
          grid-template-columns: 1fr auto;
          gap: 10px;
          cursor: pointer;

          h3 {
            font-weight: 200;
            font-size: 10pt;
          }
        }
      }
    }

    .div2 {
      .logout {
        width: fit-content;
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 1em;
        color: $accent;
        margin: 5px 1em 5px auto;
        cursor: pointer;

        img {
          height: 24px;
          width: 24px;
        }
      }

      p {
        color: white;
        text-align: center;
        padding: 1em;
        font-size: 10pt;
      }

      a {
        color: $accent;
      }
    }
  }
 
  

  .select {
    max-width: 200px;
    width: 100%;
    margin: 5px auto 5px auto;

    label {
      display: block;
    }

    select {
      width: 100%;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #60606040;
      padding: 8px;
      background-color: transparent;
      color: $dark;
    }
  }

  .selector {
    background-color: $bg2;
    padding: 1em 0 1em 0;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: auto;

    .thisSelector {
      display: block;
      margin: auto;
      width: 25%;
      border: none;
      outline: none;
      background: $bg2;
      color: $dark;
    }
  }

  .input {
    max-width: 200px;
    width: 100%;
    margin: 5px auto 5px auto;

    label {
      display: block;
    }

    input[type="number"]::-webkit-inner-spin-button {
      -webkit-appearance: none;
    }

    input {
      width: 100%;
      outline: none;
      border-top: none;
      border-left: none;
      border-right: none;
      border-bottom: 1px solid #60606040;
      padding: 8px;
      background-color: transparent;
      color: $dark;
    }
  }

  .descriptionBox {
    background-color: white;
    //border: 1px solid black;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    text-align: center;
    box-shadow: 1px 1px 5px #60606030;
    border-radius: 5px;

    .text {
      width: 90%;
      margin: auto;
      color: $dark;
      padding-bottom: 0.4em;
      padding-top: 0.3em;
      h6 {
        font-size: medium;
        margin-bottom: 0.3em;
      }
    }
  }
}

.buttonRegister {
  max-width: 300px;
  width: 30%;
  margin: 10px auto 10px auto;

  button {
    border: none;
    background-color: $primary;
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
    cursor: pointer;
    margin: 1em auto;
  }

  button:hover {
    font-weight: 700;
    color: $primary;
    background-color: white;
    border: 1px solid $primary;
  }
}

.form {
  width: 90%;
  margin-top: 2em;
  //margin-left: 10px;
  //text-align: center;
  input {
    width: 95%;
    margin-left: 0.5em;
    margin-bottom: 1em;
    margin-top: 0.5em;
    height: 2.5em;
    border: 1px solid $dark;
    border-radius: 5px;
    text-indent: 20px;
  }
  label {
    margin-left: 10px;
    margin-top: 2em;
    color: $dark;
  }
}

.button {
  margin: 6px;
  background-color: red;
}
