@import "./0_mediaquery";
@import "./1_variables";

.LoginPage {
  height: 100vh;
  width: 100vw;
  background-image: url("../assets/imgs/ksa_login_bg.png");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: 1em;
  color: white;

  .top {
    max-width: 85vw;
    width: 100%;
    padding: 2em 0 2em 0;
    margin: 0 auto 0 auto;

    .div1 {
      width: fit-content;
      margin: 0 auto 0 0;
    }
    .div2 {
      width: fit-content;
      margin: 0 0 0 auto;
      text-align: right;
      float: right;

      h1 {
        font-size: 18px;
      }
      p {
        font-size: 16px;
      }
    }
  }

  .login {
    max-width: 30vw;
    width: 100%;
    height: fit-content;
    margin: auto;
    background-color: rgba($color: #000000, $alpha: 0.4);
    padding: 1em 2em 1em 2em;
    text-align: center;
    position: relative;
    border-radius: 8px;
    box-shadow: 2px 2px 15px rgba($color: white, $alpha: 0.3);

    h3 {
      margin: 1em 0 1em 0;
      font-size: 20px;
      font-family: "Archivo";
      font-style: normal;
      font-weight: 700;
      line-height: 26px;
      color: #ffffff;
      letter-spacing: 1px;
    }

    .err {
      height: 10px;
      line-height: 10px;
      display: block;
      text-align: center;
    }

    p {
      font-family: "Archivo";
      font-style: normal;
      font-weight: 200;
      font-size: 12px;
      color: #ffffff;
      margin: 1em 0 0 0;
    }

    span {
      color: $accent;
      cursor: pointer;
    }
    span:hover {
      color: $primary;
    }

    .lg_input {
      position: relative;
      margin: 1em 0 1em 0;

      label {
        display: block;
        font-size: 12px;
        text-align: left;
        margin: 10px 0 10px 0;
      }

      input {
        width: 100%;
        outline: none;
        border: 1px solid rgba($color: #ffffff, $alpha: 0.7);
        border-radius: 5px;
        font-size: 12px;
        line-height: 12px;
        padding: 10px 32px 10px 32px;
        height: 32px;
        background: transparent;
        color: white;
        text-align: left;
      }

      input[type="password"] {
        text-align: center;
        letter-spacing: 5px;
      }

      .fa-at,
      .fa-lock {
        position: absolute;
        bottom: 10px;
        left: 10px;
        height: 12px;
        width: 12px;
        font-size: 12px;
        line-height: 12px;
      }

      .fa-eye {
        position: absolute;
        bottom: 10px;
        right: 10px !important;
        height: 12px;
        width: 12px;
        font-size: 12px;
        line-height: 12px;
        cursor: pointer;
      }
      .fa-eye:hover {
        color: $accent;
      }
    }
  }

  .bottom {
    display: grid;
    grid-template-columns: repeat(4, minmax(150px, auto));
    gap: 1em;
    width: fit-content;
    margin: 0 auto 0 auto;
    padding: 2em 0 2em 0;

    .function {
      text-align: center;
      cursor: pointer;
      width: fit-content;

      i {
        font-size: 11px;
      }

      p {
        display: inline-block;

        font-size: 11px;
      }
    }
    .function:hover {
      color: $accent;
    }
  }
}
