@import "./0_mediaquery";
@import "./1_variables";

.headings {
  background-color: #0c164f;
}

.SingleInstancePage {
  overflow-y: auto;
  position: relative;
  height: fit-content;
  padding-top: 60px;
  
  .model {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.5);
    z-index: 9999;
    display: flex;

    .container {
      max-width: 30vw;
      width: 100%;
      height: fit-content;
      margin: auto;
      background-color: white;
      border-radius: 5px;
      display: block;
      padding: 1em 2em 1em 2em;

      h3 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        margin: 1em 0 1em 0;
        color: #74465c;
        text-align: center;
      }

      h4 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 1em 10px 1em;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #60606030;
        color: #74465c;
        margin: 12px 0 12px 0;
        cursor: pointer;
      }
      h4:hover {
        box-shadow: 1px 1px 5px #60606070;
      }

      i {
        margin-right: 1em;
      }
    }

    .alert {
      max-width: 30vw;
      width: fit;
      height: fit-content;
      margin: auto auto 50vh auto;
      background-color: white;
      border-radius: 5px;
      display: block;
      padding: 1em 2em 1em 2em;

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 1em 10px 1em;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #60606030;
        color: #74465c;
        margin: 12px 0 12px 0;
      }

      h4 {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        padding: 10px 1em 10px 1em;
        width: 100%;
        border-radius: 5px;
        box-shadow: 1px 1px 5px #60606030;
        background-color: $primary;
        color: white;
        margin: 1em 0 12px 0;
        cursor: pointer;
        text-align: center;
      }

      h4:hover {
        background-color: rgba($color: $primary, $alpha: 0.7);
      }
    }
  }

  .map-container {
    min-height: 100vh !important;
  }

  .map {
    position: relative;
    box-shadow: 2px 2px 5px #60606040;
    width: 100%;
    height: 90vh;

    .error {
      h6 {
        font-size: small;
        color: #000;
        margin: 2em auto 2em auto;
        max-width: 60%;
        text-align: center;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(120deg, #a20c0c 0%, #0e0e80 100%);
      }
    }

    .select {
      max-width: 200px;
      width: 100%;
      margin: 5px auto 5px auto;

      label {
        display: block;
      }

      select {
        width: 100%;
        outline: none;
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid #60606040;
        padding: 8px;
        background-color: transparent;
        color: $dark;
      }
    }

    .items {
      width: 100%;

      .link {
        max-width: 85%;
        width: 100%;
        margin: 1em auto 1em auto;

        h4 {
          text-align: center;
          padding: 8px;
          color: $primary;
          width: 100%;
        }

        input {
          width: 100%;
          padding: 1em;
          background-color: transparent;
          border-radius: 5px;
          outline: none;
          box-shadow: 1px 1px 5px #60606030;
          border: 1px solid rgba($color: $dark, $alpha: 0.5);
          margin: 1em 0 0 0;
        }
      }

      .exp {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        min-width: 150px;
        width: fit-content;
        cursor: pointer;
        padding: 5px 10px 5px 1em;

        img {
          height: 24px;
          width: 24px;
          object-fit: contain;
        }

        p {
          line-height: 24px;
          text-align: left !important;
        }
      }
      .exp:hover {
        box-shadow: 1px 1px 5px #60606030;
        border-radius: 5px;
      }
      h3 {
        text-align: center;
        padding: 8px;
        color: $primary;
        width: 100%;
      }

      h4 {
        font-size: 10pt;
        text-align: center;
        padding: 10px 0 10px 0;
      }

      img {
        height: 44px;
        width: 44px;
        object-fit: contain;
      }

      .imgSelected {
        border: 2px solid $primary;
      }

      .list {
        padding: 1em;
      }

      .item {
        display: grid;
        grid-template-columns: auto 1fr;
        gap: 10px;
        color: $dark;
        margin: 16px 0 16px 0;
      }
    }

    .sidepanel {
      .bar {
        display: grid;
        grid-template-rows: repeat(4, auto);
        width: fit-content;
        height: fit-content;
        min-height: 50vh;
        position: absolute;
        background-color: rgba($color: white, $alpha: 0.9);
        left: 0;
        top: 2.5vh;
        height: fit-content;
        z-index: 9999;

        h4 {
          color: $primary;
          font-weight: 400;
          height: fit-content;
          text-align: center;
          font-size: small;
          line-height: 18px;
          padding: 1em 5px 1em 5px;
          writing-mode: vertical-rl;
          cursor: pointer;
        }

        h4:hover {
          color: $dark;
        }
      }

      .Popup {
        position: absolute;
        left: 34px;
        top: 2.5vh;
        min-height: 50vh;
        height: fit-content;
        z-index: 99999;
        width: 35vw;
        background-color: rgba($color: white, $alpha: 0.8);
        border-radius: 0 8px 8px 0;
        padding: 10px;
        overflow-y: auto;

        .layers {
          min-height: 20vh;
          padding: 1em;
        }

        p {
          text-align: center;
          font-size: 10pt;
          padding: 0 0 5px 0;
          color: $primary;
        }

        h5 {
          color: $dark;
          padding: 10px 0 5px 0;
        }

        i {
          color: $dark;
          display: block;
          width: fit-content;
          margin-left: auto;
          cursor: pointer;
        }
        i:hover {
          color: $accent;
        }

        .list {
          overflow-y: auto;
          max-height: 35vh;
        }

        .lyr {
          display: grid;
          grid-template-columns: auto auto 1fr;
          gap: 8px;
          color: $dark;
          margin: 8px 0 8px 0;

          input {
            height: 16px;
            width: 16px;
            margin: 4px 0 4px 0;
          }

          .div {
            height: 24px;
            width: 24px;
            background-color: gray;
            cursor: pointer;
            border-radius: 3px;
            border: none;
            outline: none;
          }

          p {
            line-height: 24px;
            color: $dark;
            text-align: left !important;
            text-transform: capitalize;
          }
        }

        .classes {
          display: grid;
          grid-template-columns: auto auto 1fr;
          gap: 8px;
          color: $dark;
          margin: 4px 0 4px 1.5em;

          .cb {
            height: 16px;
            width: 16px;
            margin: 4px 0 4px 0;
          }

          .cr {
            height: 24px;
            width: 24px;
            cursor: pointer;
            border-radius: 3px;
            border: none;
            outline: none;
          }

          p {
            line-height: 24px;
            color: $dark;
            text-align: left !important;
            text-transform: capitalize;
          }
        }
        .range {
          display: grid;
          grid-template-columns: auto auto 1fr 1fr 1fr;
          gap: 8px;
          color: $dark;
          margin: 4px 0 4px 1.5em;

          i {
            height: 16px;
            width: 16px;
            margin: 4px 0 4px 0;
          }

          .cr {
            height: 24px !important;
            width: 24px !important;
            cursor: pointer;
            border-radius: 3px;
            border: none;
            outline: none;
          }

          p {
            line-height: 24px;
            color: $dark;
            text-align: left !important;
            text-transform: capitalize;
          }

          input {
            width: 100% !important;
          }
        }
      }
    }

    .BottomPanel {
      position: absolute;
      left: 30%;
      right: 30%;
      bottom: 0;
      height: fit-content;
      z-index: 9999;

      .opts {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        background-color: rgba($color: $primary, $alpha: 0.7);
        border-radius: 5px 5px 0 0;

        h4 {
          color: white !important;
          font-weight: 400;
          height: fit-content;
          text-align: center;
          font-size: small;
          line-height: 24px;
          padding: 10px auto 10px auto;
          cursor: pointer;
        }

        h4:hover {
          color: white !important;
          background-color: $accent;
          border-radius: 5px;
        }
      }

      .Popup {
        height: fit-content;
        z-index: 9999;
        background-color: rgba($color: wheat, $alpha: 0.9);
        min-height: 40vh;
        max-height: 65vh;
        border-radius: 8px;
        padding: 10px 1em 10px 1em;
        overflow-y: auto;

        p {
          text-align: center;
          font-size: 10pt;
          padding: 0 0 5px 0;
        }

        i {
          color: $dark;
          display: block;
          width: fit-content;
          margin-left: auto;
          cursor: pointer;
        }
        i:hover {
          color: $accent;
        }

        .items {
          width: 100%;

          .input {
            max-width: 200px;
            width: 100%;
            margin: 5px auto 5px auto;

            label {
              display: block;
            }

            input[type="number"]::-webkit-inner-spin-button {
              -webkit-appearance: none;
            }

            input {
              width: 100%;
              outline: none;
              border-top: none;
              border-left: none;
              border-right: none;
              border-bottom: 1px solid #60606040;
              padding: 8px;
              background-color: transparent;
              color: $dark;
            }
          }

          .optns{
            text-align: center;
          }

          .aoi {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;

            p {
              line-height: 44px;
              text-align: left !important;
            }
          }
          h3 {
            text-align: center;
            padding: 8px;
            color: $primary;
            width: 100%;
          }

          h4 {
            font-size: 10pt;
            text-align: center;
            padding: 10px 0 10px 0;
          }

          img {
            height: 44px;
            width: 44px;
            object-fit: contain;
          }

          .imgSelected {
            border: 2px solid $primary;
          }

          .list {
            padding: 1em;
          }

          .item {
            display: grid;
            grid-template-columns: auto 1fr;
            gap: 10px;
            color: $dark;
            margin: 16px 0 16px 0;
          }
        }
      }
    }
  }

  .cont {
    padding: 2em;

    .input-map {
      label {
        display: block;
        font-size: 16px;
        color: $dark;
        margin: 1em 0 10px 0;
      }
      input {
        width: 100%;
        padding: 1em;
        background-color: transparent;
        border-radius: 5px;
        outline: none;
        box-shadow: 1px 1px 5px #60606030;
        border: 1px solid rgba($color: $dark, $alpha: 0.5);
        margin: 1em 0 0 0;
      }
    }

    .div2equal {
      gap: 2em !important;
      margin: 2em 0 2em 0;
    }

    .img {
      position: relative;
      width: 100%;
      height: calc(25vw * 0.6);

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: contain;
        object-position: center;
        border-radius: 5px;
      }

      input {
        display: none;
      }

      i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        left: 45%;
        position: absolute;
        bottom: -20px;
        cursor: pointer;
        background-color: $accent;
        border-radius: 5px;
      }
      i:hover {
        background-color: $dark;
        color: $accent;
      }

      @include maxwidth(tablet) {
        height: 200px !important;
      }
    }

    h3 {
      font-size: 18px;
      line-height: 1.3;
      max-width: 80%;
      color: $primary;
      text-align: center;
      display: block;
      margin: 2em auto 10px auto;
    }

    p {
      font-size: 14px;
      line-height: 1.3;
      max-width: 60%;
      display: block;
      margin: 10px auto 10px auto;
      text-align: center;
    }
  }

  .desc {
    padding: 1em 0 1em 0;
    margin: auto;

    .div2equal {
      margin-left: auto !important;
      margin-right: auto !important;
      max-width: 85vw;
      width: 100%;
    }

    h2 {
      font-family: "Montserrat";
      font-style: normal;
      font-size: large;
      color: #000;
      margin: 10px 0 1em 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(120deg, #a20c0c 0%, #0e0e80 100%);
      text-align: center;
    }

    h3 {
      font-size: medium;
      color: #000;
      margin: 10px 0 1em 0;
      text-align: left !important;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(120deg, #a20c0c 0%, #0e0e80 100%);
    }

    .description {
      * {
        all: initial;
      }

      p {
        font-family: "Montserrat";
        font-style: normal;
        font-weight: 400;
        font-size: medium;
        line-height: 1.5;
        color: #000000;
        width: 100% !important;
        width: fit-content;
        text-align: left;
      }
    }

    h4 {
      font-family: "Montserrat";
      font-style: normal;
      font-weight: 400;
      font-size: medium;
      color: #000000;
      margin: 1em 0 1em 0;

      span {
        color: $dark;
        font-weight: 600;
      }
    }

    .input-map {
      label {
        display: block;
        font-size: 16px;
        color: $dark;
        margin: 1em 0 10px 0;
      }
      input {
        width: 100%;
        padding: 1em;
        background-color: transparent;
        border-radius: 5px;
        outline: none;
        box-shadow: 1px 1px 5px #60606030;
        border: 1px solid rgba($color: $dark, $alpha: 0.5);
        margin: 1em 0 0 0;
      }
    }

    .div2equal {
      gap: 2em !important;
      margin: 2em 0 2em 0;
    }

    .img {
      position: relative;
      width: 100%;
      height: calc(25vw * 0.6);

      img {
        width: 100%;
        height: 100%;
        border-radius: 5px;
        position: absolute;
        top: 0;
        left: 0;
        object-fit: cover;
        object-position: center;
        border-radius: 5px;
      }

      input {
        display: none;
      }

      i {
        height: 40px;
        width: 40px;
        text-align: center;
        line-height: 40px;
        left: 45%;
        position: absolute;
        bottom: -20px;
        cursor: pointer;
        background-color: $accent;
        border-radius: 5px;
      }
      i:hover {
        background-color: $dark;
        color: $accent;
      }

      @include maxwidth(tablet) {
        height: 200px !important;
      }
    }

    h3 {
      font-size: 18px;
      line-height: 1.3;
      max-width: 80%;
      color: $primary;
      text-align: center;
      display: block;
      margin: 2em auto 10px auto;
    }

    p {
      font-size: 14px;
      line-height: 1.3;
      max-width: 60%;
      display: block;
      margin: 10px auto 10px auto;
      text-align: center;
    }
  }

  .downloads {
    width: 85%;
    margin: 3em auto;
    h3 {
      font-size: 20px;
    }
    .options {
      width: 75%;
      font-size: 11px;
      display: grid;
      grid-template-columns: repeat(3, auto);
      h5 {
        font-size: 16px !important;
      }
    }
  }
  .addComment {
    max-width: 85%;
    width: 100%;
    margin: auto;

    h3 {
      font-size: large;
      color: #000;
      margin: 10px 0 10px 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(120deg, #a20c0c 0%, #0e0e80 100%);
    }
    .comment {
      width: 100%;
      margin-top: 2em;
      display: grid;
      grid-template-columns: 10fr 90fr;

      .symbol {
        border-radius: 100px;
        height: 44px;
        line-height: 44px;
        background-color: $secondary;
        text-align: center;
        font-weight: bolder;
        color: white;
        width: 44px;
        font-size: larger;
        text-align: center;
        margin-left: 0.4em;
      }
      textarea {
        font-size: 20px;
        width: 100%;
        resize: none;
        padding: 1em;
      }
    }
    .btn {
      width: fit-content;
      margin: 1em 0 1em auto;
      align-items: right;
      text-align: right;
      button {
        border-radius: 8px !important;
        padding: 1em;
        width: fit-content;
        min-width: 110px;
      }
    }
  }
  .comments {
    max-width: 85%;
    width: 100%;
    margin: 5px auto;

    h2 {
      font-size: large;
      color: #000;
      margin: 10px 0 1em 0;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-image: linear-gradient(120deg, #a20c0c 0%, #0e0e80 100%);
    }

    p {
      width: fit-content;
      display: block;
      margin: 10px 0 1em auto;
      font-size: small;
    }
    .messageContet {
      p {
        margin: 10px 0 10px 0 !important;
        font-size: small;
      }
    }
  }

  .attribute {
    max-width: 85vw;
    width: 100%;
    margin: auto;
  }

  @include maxwidth(mobile) {
    .map {
      height: 60vh !important;
      width: 100% !important;
    }

    .sidepanel {
      .Bar {
      }
      .Popup {
        width: 70vw !important;
        max-height: 50vh !important;
      }
    }

    .BottomPanel {
      left: 10% !important;
      right: 10% !important;
      max-width: 85vw !important;
      width: 100% !important;
    }

    .desc {
      .div2equal {
        grid-template-columns: repeat(1, 1fr) !important;
      }

      .img {
        height: calc(100vw * 0.6) !important;
      }

      .photo{
        h3{
          margin: 0 auto 1em 0 !important;
        }
      }
    }
  }
  @include maxwidth(tablet) {
    .map {
      height: 50vh !important;
      width: 100% !important;
    }

    .sidepanel {
      .Bar {
      }
      .Popup {
        width: 70vw !important;
        max-height: 50vh !important;
      }
    }

    .BottomPanel {
      left: 10% !important;
      right: 10% !important;
      max-width: 85vw !important;
      width: 100% !important;
    }
    .desc {
      .div2equal {
        grid-template-columns: repeat(1, 1fr) !important;
      }

      .img {
        height: calc(60vw * 0.6) !important;
      }

       .photo{
        h3{
          margin: 0 auto 1em 0 !important;
        }
      }
    }
  }
}
