@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,300&family=Montserrat:wght@200;400&family=Playfair+Display:ital,wght@0,400;0,800;1,400&display=swap");
@import "./Styles/variables";
@import "./Styles/0_mediaquery";
@import "./Styles/header";
@import "./Styles/footer";
@import "./Styles/button.scss";
@import "./Styles/InstancesPage";
@import "./Styles/SingleInstancePage";
@import "./Styles/ContactUs.scss";
@import "./Styles/Aboutpage.scss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
input,
a,
textarea,
button,
li {
  font-family: "Montserrat";
}

body {
  width: 100% !important;
  position: relative;
  height: 100%;
  // padding-top: 64px;
}

.land {
  width: 100vw;
  height: 80vh;
  background-image: url("./assets/imgs/landing.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.lan {
  background-color: white;
}

.carousel {
  height: 120px;
  background-color: rgb(51, 51, 51);
  width: 100%;

  h1 {
    color: white;
    text-align: center;
    margin: auto;
    padding-top: 30px;
  }
}

.pagination {
  margin: 2em 0 2em 0;

  .container {
    max-width: 85vw;
    width: fit-content;
    height: 24px;
    margin: auto;
    display: flex;
    gap: 10px;

    .fa {
      height: 24px;
      width: 24px;
      font-size: medium;
      line-height: 24px;
      color: $secondary;
      cursor: pointer;
      display: block;
      margin: 0 8px 0 8px;
    }

    .fa:hover {
      color: $accent;
    }

    .pages {
      display: flex;
      width: fit-content;
      height: fit-content;

      h5 {
        width: 24px;
        height: 24px;
        color: $primary;
        line-height: 24px;
        text-align: center;
        cursor: pointer;
        border-radius: 2px;
        font-size: small;
        display: inline-block;
      }
    }

    .page {
      width: 24px;
      height: 24px;
      background-color: $secondary;
      color: white;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      font-size: small;
      display: inline-block;
      margin: 0 8px 0 8px;
    }

    .page-active {
      width: 24px;
      height: 24px;
      background-color: $primary;
      color: white;
      line-height: 24px;
      text-align: center;
      cursor: pointer;
      border-radius: 3px;
      font-size: small;
      margin: 0 8px 0 8px;
    }

    .page:hover {
      background-color: $secondary;
    }

    .active {
      background-color: $dark;
    }
  }
}

.div2equal {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.div3equal {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
